.contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 75vw;
}

.plusCircle{
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    cursor: pointer;
}

.inputLayout{
    width: 70vw;
    font-size: 20px;
    border: none;
    height: 100%;
}
